.container,.box{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    /* position: relative; */
}
#box1{
    background: burlywood;
    /* position: relative;
    top: 80px;
    bottom: 60px;
    left: 50px;
    right: 70px; */
    /* position:absolute;
    top: 60px;
    right: 50px; */
    /* position: fixed;
    top: 40px; */
    /* position: sticky;
    top: 0;
} */

#box2{
    background: cadetblue;
}
#box3{
    background: cornflowerblue;
}